
*.meta
PROJECT_HYPERION_Kieran/Assets/PACKS VOLS/Mobile Astre Pack vol. 1/Prefabs/astre_6.prefab
*.prefab
*.json
*.dwlt
*.dwlt
PROJECT_HYPERION_Kieran/Library/CurrentLayout-default.dwlt
PROJECT_HYPERION_Kieran/Assets/ship/mechcombined.obj
PROJECT_HYPERION_Kieran/Assets/ship/kieransmech.obj
PROJECT_HYPERION_Kieran/Assets/Scenes/SampleScene.unity
*.unity
PROJECT_HYPERION_Kieran/Assets/PACKS VOLS/Mobile Astre Pack vol. 1/Models/Materials/No Name.mat
PROJECT_HYPERION_Kieran/Assets/Scenes/SampleScene.unity
PROJECT_HYPERION_Kieran/Assets/Scenes/SampleScene.unity
*.unity
*.unity
